@font-face {
    font-family: 'Open Sans Bold'; /* Имя шрифта */
    src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'Open Sans Light'; /* Имя шрифта */
    src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
   font-family: 'Open Sans Regular'; /* Имя шрифта */
   src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans Semibold'; /* Имя шрифта */
    src: url('../fonts/OpenSans-Semibold.ttf');
}