@import 'fonts.css';

body {
    font-family: 'Open Sans';
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

.menu-bar {
    background-color: #ffffff;
    color: #212121;
    padding: 20px 0;
}

.menu__item {
    margin-left: 37px;
}

.menu__item a {
    font-family: 'Open Sans Semibold';
    font-size: 20px;
    color: #212121;
}

.menu__item a:hover {
    text-decoration: none;
    color: #868686;
}

.header {
    color: #ffffff;
    text-align: center;
    padding: 180px 0;
    background-size: cover;
    background-position: 0 100%;
    background-image: url(../images/header.png);
}

.header__title {
    font-size: 55px;
}

.header__text {
    font-family: 'Open Sans Regular';
    font-size: 20px;
    margin-bottom: 108px;
}

.button {
    padding: 17px 33px;
    margin: 0 10px;
    font-size: 18px;
    color: white;
    transition: .3s;
    border: 2px #00897b solid;
    background-color: #00897b;
}

.button:hover {
    border: 2px #ffffff solid;
    background-color: transparent;
}

.button_empty:hover,
.button_full:hover {
    border: 2px #ffffff dotted;
    background-color: #04574e;
}

.about {
    color: #000;
    background: #fff;
    text-align: center;
}

.about__title {
    font-size: 30px;
    font-weight: bold;
    padding-top: 120px;
}

.about__text {
    color: #212121;
    margin-bottom: 120px;
    font-size: 15px;
}

.about__h4 {
    font-family: 'Open Sans Semibold';
    font-size: 20px;
    margin-bottom: 22px;
    margin-top: 38px;
}

.services {
    padding-top: 165px;
    padding-bottom: 125px;
    background-color: #e4fdf9; 
    text-align: center;
    color: #000;
}

.our_card {
    padding: 50px 25px 40px;
    background-color: #fff;
    transition: .3s;
    margin-bottom: 30px;
}

.our_card:hover {
    background-color: #00897b;
    color: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.35);
}

.our_card:hover .about__text {
    color: #fff;
}

.our_card:hover .icon {
    color:#fff;
}

.our_card:hover .button-services {
    color:#fff;
    border: 1px solid #fff;
}

.icon {
    transition: .3s;
    font-size: 60px;
    color:#000;
}

.button-services {
    transition: .3s;
    background-color: transparent;
    border: 1px solid #000;
    padding: 12px 12px 12px;
    font-family: 'Open Sans Semibold';
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 135px;
    text-align: center;
}

.portfolio button:hover,
.focused {
    border: 2px solid #000;
    color: #000;
    background-color: transparent;
}

.portfolio img {
    margin-bottom: 30px;
}

.filter {
    padding: 120px 0;
}

div[filter]:hover img {
    filter: brightness(50%);
    transition: .3s;
}

.text {
    display: none;
}

div[filter]:hover .text {
    display: block;
    width: 100%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 3;
    text-align: center;
}

.plan {
    text-align: center;
    background-color: #f0f1f1;
    padding-bottom: 120px;
}

.plans_card {
    color: #fff;
    background-color: #fff;
    background-position: 1% 1%;
    transition: .3s;
}

.plans_card:hover {
    box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.35);
}

.plan__title {
    padding-top: 45px;
    font-size: 25px;
    background: url(../images/price.png) no-repeat;
}

.plan__price {
    padding-top: 30px;
    padding-bottom: 65px;
}

.plan__price > span {
    font-size: 17px;
    margin-left: 5px;
}

.plan__list {
    padding: 50px 82px 0;
    text-align: center;
}

.plan__item {
    font-family: 'Open Sans Light';
    font-size: 17px;
    color:#212121;
}

.plan__button {
    padding: 60px 0;
}

.plans_card:hover .button {
    border: #000 2px solid;
    color: #000;
    background-color: transparent;
}

.team {
    text-align: center;
}

.team__name {
    padding-top: 35px;
    font-size: 20px;
}

.team__post {
    padding-bottom: 30px;
    font-size: 15px;
}





